extends layout

block content
	h1 Quiz
	ul#question-list

	h5 Language Type Cuz You Have NO CHOICE: #{newQuiz.language}

	for word in newQuiz.words
		li
			h5= word
			input(type="text" name="translation" placeholder="translation")
	input(type="button" value="Submit Answers" id="submitButton")