extends layout

block content
	h1 Quiz
	ul#question-list

	h5 Language Type Cuz You Have NO CHOICE: #{newQuiz.language}
	h3 Quiz ID: #{newQuiz._id}

	ul#music-list
	div.quiz(data-id: quiz._id)
		for word in newQuiz.words
			li
				div.question
					h5= word
					input(type="text" name="translation" placeholder="translation" class="input")
		input(type="button" value="Submit Answers" id="submitButton")